[Desktop Entry]
Version=1.0
Type=Application
Name=PLACEHOLDER
Comment=Kotlin Multiplatform Pixel App
Exec=pixelix %u
Icon=foxtails.taeda
Terminal=false
Categories=Graphics;Utility;
MimeType=x-scheme-handler/foxtails.taeda;